@import '_reset.scss'

//* variables
$colorMain: #f1e74f
$colorLight: #d3cf94
$background: #1f1f1c
$backgroundLight: #b8bba7
$sizeCell: 50px


@import '_game.sass'
@import '_score.sass'
@import '_canvas.sass'

