*
	border: 0
	margin: 0
	padding: 0

.game-field
	margin: 10px
	border: 5px solid #3a3a3a
	box-shadow: 5px 5px 40px 10px #3a3a3a
	// background: #47473f
	background-image: url(../images/clever.svg)
	background-size: 50px 50px
	background-color: #b8bba7

	// background-size: 50px / 50px
	// background: #f1e42c
	// background: #5c5b2b
	// background: #9b9b87